<div class="container py-3">
    <div class="row justify-content-center">
    
        <div class="col-xl-3 col-sm-6 mx-auto p-2 bg-white rounded shadow px-5" >
            <div class=" d-flex flex-column align-items-center py-5 ">
                <img src="assets/images/woody.jpg" alt="Image" width="100" class="img-fluid rounded-circle mb-3">
                <h5 class="mb-auto body1_1 mt-5">Woody Perera</h5>
                <span class="body1 mt-3">
                    "Working with this team has been an incredible experience! They delivered exactly what we needed, on time, and exceeded our expectations. The attention to detail and their commitment to quality made a huge difference for our project. Highly recommend!"
                </span>
                <span class="minor mt-3">03 months</span>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mx-auto p-2 bg-white rounded shadow" >
            <div class=" d-flex flex-column align-items-center py-5 px-4">
                <img src="assets/images/kevin.jpg" alt="Image" width="100" class="img-fluid rounded-circle mb-3">
                <h5 class="mb-auto body1_1 mt-5">Kevin Rajapakshe</h5>
                <span class="body1 mt-3">
                    "I couldn’t be happier with the service! The team listened to our needs and offered solutions that truly matched our goals. Their expertise and customer service were outstanding, making the whole process smooth and stress-free."
                </span>
                <span class="minor mt-3">03 months</span>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mx-auto p-2 bg-white rounded shadow" >
            <div class=" d-flex flex-column align-items-center py-5 px-4">
                <img src="assets/images/cat.jpeg" alt="Image" width="100" class="img-fluid rounded-circle mb-3">
                <h5 class="mb-auto body1_1 mt-5">John De Silva</h5>
                <span class="body1 mt-3">
                    "From start to finish, this team was amazing. They kept us informed, provided valuable insights, and were always ready to help. The end result was beyond what we imagined. We’re thrilled with the outcome and grateful for their dedication!"
                </span>
                <span class="minor mt-3">03 months</span>
            </div>
        </div>
    </div>
</div>
  
