<section class="section-1 mt-5">
    <div class="container my-auto py-5">
        <div class="row page ">
            <div class="col-12 mt-5 col-md-5">
                <div class="m-auto ">
                    <h3 class=" heading1">"Fuel Your Game with the Best Sports Gear!"</h3>
                    <p class="body1 mt-4 ">
                      "Unleash Your Potential with the Right Gear! From the latest sportswear to high-performance equipment, our collection is designed to support your journey, whether you're training, competing, or exploring. Step up your game with trusted brands, premium quality, and styles that keep you moving. Ready to reach new heights? Gear up, stand out, and own every moment!"</p>
                      <button type="button" class="btn btn-dark" (click)="navigate()">EXPLORE</button>

                </div>
            </div>
          <div class="col-12 col-md-7 row m-0 p-0">
            <div class="col-12 col-md-5 bg-image mt-2 m-auto" style="background-image: url('/assets/images/ronaldo.jpeg');"></div>
            <div class="col-12 col-md-5 bg-image mt-2 m-auto" style="background-image: url('/assets/images/messi.jpg');"></div>

          </div>
        </div>
    </div>
  </section> 

      
  <section class="section-2">
  <app-slider></app-slider>
  </section>    
      
  <section class="section-3">
    <div class="container">
        <div class="row page">
          <div class="col-12 col-md-2 d-flex flex-column align-items-center ">
            <div class="bg-image-1 my-4" style="background-image: url('/assets/images/Stephan.jpeg');">
              
            </div>
            <div class="bg-image-1 my-4" style="background-image: url('/assets/images/basketball-2.jpeg');"></div>
        </div>
        <div class="col-12 col-md-2 d-flex flex-column align-items-center ">
          <div class="bg-image-1 my-4" style="background-image: url('/assets/images/bolt.jpeg');"></div>
          <div class="bg-image-1 my-4" style="background-image: url('/assets/images/cbum.jpeg');"></div>
        </div>
        
        <div class="col-12 col-md-2 d-flex flex-column align-items-center ">
          <div class="bg-image-1 my-4" style="background-image: url('/assets/images/ghostface.jpeg');"></div>
          <div class="bg-image-1 my-4" style="background-image: url('/assets/images/Roger.jpeg');"></div>
        </div>
            <div class="col-12 col-md-5 m-auto">
              <div class="m-auto">
                  <h3 class="heading1">Discover your favorite.</h3>
                  <p class="body1 mt-3 ">Discovering a passion for sports often begins with curiosity and leads to personal growth, fitness, and teamwork. Trying different activities can transform simple interests into a rewarding pursuit that boosts both physical health and mental resilience..</p>
                  <button type="button" class="btn btn-dark">EXPLORE</button>

              </div>
          </div>
        </div>
    </div>
  </section>
  
  <section class="section-4 mt-5">
    <div class="container ">
        <div class="row page px-5">
            <div class="col-12 h-100 d-grid justify-content-center col-md-4">
                <div class="m-auto">
                    <h3 class="heading1">Benifits of being Active</h3>
                    <p class="mt-3">
                      <ul class="body1">
                        <li>Improves Physical Health: Enhances cardiovascular fitness, builds strength, and boosts immunity.</li>
                        <li>Boosts Mental Well-being: Reduces stress, anxiety, and depression while improving mood.</li>
                        <li>Builds Discipline: Develops self-discipline, time management, and goal-setting skills.</li>
                        <li>Encourages Teamwork: Fosters collaboration, communication, and leadership skills.</li>
                        <li>Enhances Social Connections: Creates friendships and a sense of community.</li>
                        <li>Improves Focus and Concentration: Enhances cognitive abilities and decision-making skills.</li>
                        <li>Builds Resilience and Confidence: Encourages handling setbacks, building confidence, and a positive mindset.</li>
                      </ul>
                      <button type="button" class="btn btn-dark">EXPLORE</button>
                </div>
            </div>
            <div class="col-12 mt-5 h-100 d-grid col-sm-8">
              <div class="bg-image-2" style="background-image: url('/assets/images/card-right.jpg');" ></div>
            </div>
        </div>
    </div>
  </section>
  
  <section class="section-5">
    <app-img-slide></app-img-slide>
  </section>
      
  <section class="section-6">
    <h1 class="heading1 py-5" style="text-align: center;">Client Testimonials</h1>  
    <app-card></app-card>
  </section>
      
  <section class="section-7">
    <h1 class="heading1 py-5" style="text-align: center;">Articles & Resources</h1>  
    <app-articles></app-articles>
  </section>