
<div class="container-fluid mb-5">
    <div class="row m-auto m-0 p-0 w-100">
        <div class="col-12 mt-5 m-0 m-0 position-relative">
            <div class="swiper mySwiper1" style="overflow-y: visible;"> 
            </div>
            <swiper [spaceBetween]="5"
                [slidesPerView]="3" [navigation]="true" class="mySwiper1">
                    <ng-template swiperSlide>
                        <div class="h-100 w-100 d-felx">
                            <img src="./assets/images/davidlaid.jpeg" class="w-100" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="h-100 w-100 d-felx">
                            <img src="./assets/images/annebellucinda-2.jpg" class="w-100" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="h-100 w-100 d-felx">
                            <img src="./assets/images/annebellucinda-3.jpg" class="w-100" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="h-100 w-100 d-felx">
                            <img src="./assets/images/samsulek.jpg" class="w-100" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="h-100 w-100 d-felx">
                            <img src="./img-slide.png" class="w-100" alt="" srcset="">
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="h-100 w-100 d-felx">
                            <img src="./img-slide.png" class="w-100" alt="" srcset="">
                        </div>
                    </ng-template>
            </swiper>
        </div>
    </div>
</div>