<div class="container-fluid band py-5">
    <div class="container">

        <div class="row justify-content-center py-3">
            <div class="col-12 col-md-4 d-flex flex-row align-items-center">
                <img src="/assets/images/project-1.webp" class="w-25 mx-3" alt="">
                <div>
                    <p class="my-auto body2">FitQuest</p>
                    <p class=" mt-2 body1">Gamified fitness app with daily challenges and rewards for tracking steps, workouts, and healthy habits. </p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-row align-items-center">
                <img src="/assets/images/project-2.webp" class="w-25 mx-3" alt="">
                <div>
                    <p class="my-auto body2">PlayGroundPro</p>
                    <p class="mt-2 body1">Platform to organize and find local pickup games, tournaments, and training sessions with other players. </p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-row align-items-center">
                <img src="/assets/images/project-3.webp" class="w-25 mx-3" alt="">
                <div>
                    <p class="my-auto body2">Sportify Academy</p>
                    <p class="mt-2 body1">Online learning hub offering courses and tutorials for various sports, with options to connect with coaches.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center py-3">
            <div class="col-12 col-md-4 d-flex flex-row align-items-center">
                <img src="/assets/images/projec-4.webp" class="w-25 mx-3" alt="">
                <div>
                    <p class="my-auto body2">GameTime Hub</p>
                    <p class="mt-2 body1">Community platform for sports events, offering league schedules, event updates, and registration options.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-row align-items-center">
                <img src="/assets/images/project-5.webp" class="w-25 mx-3" alt="">
                <div>
                    <p class="my-auto body2">TeamUp</p>
                    <p class="mt-2 body1">App for managing team communication, schedules, and training plans to build team cohesion.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-row align-items-center">
                <img src="/assets/images/project-6.webp" class="w-25 mx-3" alt="">
                <div>
                    <p class="my-auto body2">SkillMaster</p>
                    <p class="my-2 body1">Video-based skill development platform where users can share practice videos and receive feedback. </p>
                </div>
            </div>
        </div>

    </div>
</div>  