<section>
    <div class="container mt-5 py-5 ">
        <div class="row page px-5">
            <div class="col-12 col-md-6 m-auto mt-2 d-grid justify-content-center ">
                <img src="/assets/images/about-us-main.webp" class="w-100 m-auto mt-5 " alt="" srcset="">
            </div>
            <div class="col-12 col-md-5 mt-5 h-100 d-grid justify-content-center">
                <div class="mt-5">
                    <h3 class="heading1">Who We Are</h3>
                    <p class="body1 mt-3 ">We are a team of passionate professionals dedicated to delivering innovative solutions and outstanding service. Our journey began with a simple mission: to create value and make a difference by combining expertise, creativity, and a commitment to excellence.
                        Over the years, we've grown into a trusted partner for clients across various industries, helping them achieve their goals with customized solutions tailored to their unique needs. Our diverse team brings together experts in [mention key areas or services, e.g., technology, design, consulting] to provide a seamless experience from start to finish.</p>
                </div>
            </div>
        </div>
    </div>
</section> 
<section>
    <app-projects-slide></app-projects-slide>
</section>
<section>
    <div class="container mt-5 ">
        <div class="row page px-5">
            <div class="col-12 h-100 d-grid justify-content-center col-md-5">
                <div class="m-auto mt-5 py-3">
                    <h3 class="heading1">Why Choose Us?</h3>
                    <p class="mt-5">
                      <ul class="body1">
                        <li>Proven Expertise: Years of experience delivering top-quality, tailored solutions.</li>
                        <li>Customer-Focused: We prioritize your goals and needs in every project.</li>
                        <li>Innovative Solutions: We use the latest trends and technologies to stay ahead.</li>
                        <li>Reliable and Transparent: Open communication and timely delivery build trust.</li>
                        <li>Exceptional Support: Our team is ready to assist you every step of the way.</li>
                        <li>Affordable Quality: Competitive prices without compromising quality</li>
                        <li>Proven Success: A strong track record of successful projects and happy clients.</li>
                      </ul>
                        <div class="text-center">
                            <button type="button" class="btn btn-dark mt-3">Contact us</button>
                        </div>
                </div>
            </div>
            <div class="col-12 col-md-6 m-auto mt-5 d-grid justify-content-center ">
                <img src="/assets/images/biss.jpeg" class= "w-100 m-md-25 w-lg-10 m-auto thumbnail" alt="" srcset="">
            </div>
        </div>
    </div>
</section>

<section>
    <h1 class="heading1 py-5" style="text-align: center;">Client Testimonials</h1>  
    <app-card></app-card>
</section>

<section class="py-5">
    <app-slider></app-slider>
</section>

<section>
    <h1 class="heading1 py-5" style="text-align: center;">Meet Our Team</h1>  
    <app-teamcards></app-teamcards>
</section>