<section>
    <div class="container mt-5">
        <div class="row page px-5">
            <div class="mt-5 col-12 col-md-5 h-100 d-grid justify-content-center">
                <div class="m-auto">
                    <h3 class="heading1">Project Name</h3>
                    <h5 class="heading2">Introduction</h5>
                    <p class="body1 mt-3 ">Lorem ipsum dolor sit amet consectetur. Fringilla eget elit vitae ullamcorper sem fermentum quis. Dis tempus dictum dictum et commodo nulla suspendisse arcu. Euismod mattis nibh fames diam in a hac pharetra tempus. Faucibus orci ut ut nisi mollis mauris. Porta est volutpat fames varius. Urna et leo semper purus curabitur enim fames pulvinar ac. Vitae ultrices in enim consectetur velit suspendisse eu cras ullamcorper. Luctus rutrum turpis tellus nulla vel volutpat cras egestas tortor. Vel quam ut fermentum amet urna molestie nulla facilisi. Sed consectetur vulputate venenatis laoreet fringilla. Id nunc purus nulla nec maecenas et tempor tincidunt. Morbi ullamcorper pellentesque augue adipiscing risus dictumst libero nisl. Nisl pharetra ipsum non ac. Pulvinar vitae enim volutpat suspendisse aliquam mattis curabitur nulla. Sit purus at quisque tempus vulputate. Suscipit consectetur risus eu augue. Massa aliquam tincidunt et ac. Diam sit.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 m-auto d-grid justify-content-center ">
                <img src="/assets/images/projectcover-1.webp" class="w-100 m-auto" alt="" srcset="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-5">
        <div class="row page px-5">
            <div class="col-12 col-md-5 mt-3 h-100 d-grid justify-content-center">
                <div class="m-auto">
                    <h3 class="heading1">Topic</h3>
                    <p class="body1 mt-3 ">Lorem ipsum dolor sit amet consectetur. Fringilla eget elit vitae ullamcorper sem fermentum quis. Dis tempus dictum dictum et commodo nulla suspendisse arcu. Euismod mattis nibh fames diam in a hac pharetra tempus. Faucibus orci ut ut nisi mollis mauris. Porta est volutpat fames varius. Urna et leo semper purus curabitur enim fames pulvinar ac. Vitae ultrices in enim consectetur velit suspendisse eu cras ullamcorper. Luctus rutrum turpis tellus nulla vel volutpat cras egestas tortor. Vel quam ut fermentum amet urna molestie nulla facilisi. Sed consectetur vulputate venenatis laoreet fringilla. Id nunc purus nulla nec maecenas et tempor tincidunt. Morbi ullamcorper pellentesque augue adipiscing risus dictumst libero nisl. Nisl pharetra ipsum non ac. Pulvinar vitae enim volutpat suspendisse aliquam mattis curabitur nulla. Sit purus at quisque tempus vulputate. Suscipit consectetur risus eu augue. Massa aliquam tincidunt et ac. Diam sit.</p>
                </div>
            </div>            
            <div class="col-12 col-md-6 m-auto d-grid justify-content-center ">
                <img src="/assets/images/projectcover-2.webp" class="w-100 m-auto" alt="" srcset="">
            </div>
            
        </div>
    </div>
</section>

<section>
    <div class="container ">
        <div class="row page px-5">            
            <div class="col-12 col-md-5 mt-3 h-100 d-grid justify-content-center">
                <div class="m-auto">
                    <h3 class="heading1">Topic</h3>
                    <p class="body1 mt-3 ">Lorem ipsum dolor sit amet consectetur. Fringilla eget elit vitae ullamcorper sem fermentum quis. Dis tempus dictum dictum et commodo nulla suspendisse arcu. Euismod mattis nibh fames diam in a hac pharetra tempus. Faucibus orci ut ut nisi mollis mauris. Porta est volutpat fames varius. Urna et leo semper purus curabitur enim fames pulvinar ac. Vitae ultrices in enim consectetur velit suspendisse eu cras ullamcorper. Luctus rutrum turpis tellus nulla vel volutpat cras egestas tortor. Vel quam ut fermentum amet urna molestie nulla facilisi. Sed consectetur vulputate venenatis laoreet fringilla. Id nunc purus nulla nec maecenas et tempor tincidunt. Morbi ullamcorper pellentesque augue adipiscing risus dictumst libero nisl. Nisl pharetra ipsum non ac. Pulvinar vitae enim volutpat suspendisse aliquam mattis curabitur nulla. Sit purus at quisque tempus vulputate. Suscipit consectetur risus eu augue. Massa aliquam tincidunt et ac. Diam sit.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 m-auto d-grid justify-content-center ">
                <img src="/assets/images/projectcover-3.webp" class="w-100 m-auto" alt="" srcset="">
            </div>          
        </div>
    </div>
</section>

<section>
    <div class="container mt-4 py-3">
        <div class="row justify-content-center">        
            <div class="col-10 mb-5">
                <div class="bg-white rounded shadow d-flex flex-column align-items-center py-5 px-4">
                    <h5 class="heading2">Ready to Get Started?</h5>
                    <span class="body1 mt-3 text-center">
                        Lorem ipsum dolor sit amet consectetur. Fringilla eget elit vitae ullamcorper sem fermentum quis. Dis tempus dictum dictum et commodo nulla suspendisse arcu. Euismod mattis nibh fames diam in a hac pharetra tempus.
                    </span>
                    <div class=" d-flex justify-content-center mt-4">
                        <button type="button" class="btn btn-dark" (click)="navigate()">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <h1 class="heading1 mt-5" style="text-align: center;">Other Projects</h1>
</section>

<section>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="card py-3 mx-3" style="width: 20rem;">
                <a [routerLink]="['/single_portfolio']">
                    <div>
                        <img src="assets/img_placeholder.png" class="card-img-top h-50" alt="article image">
                        <span class="body2 py-3">Project Name</span>
                        <h5 class="minor2">Lorem ipsum</h5>
                        <p class="body1">Lorem ipsum dolor sit amet consectetur. Vitae ut amet facilisi sit scelerisque. Nunc quam sed erat posuere.</p>
                    </div>
                </a>
            </div>

            <div class="card py-3 mx-3" style="width: 20rem;">
                <a [routerLink]="['/single_portfolio']">
                    <div>
                        <img src="assets/img_placeholder.png" class="card-img-top h-50" alt="article image">
                        <span class="body2 py-3">Project Name</span>
                        <h5 class="minor2">Lorem ipsum</h5>
                        <p class="body1">Lorem ipsum dolor sit amet consectetur. Vitae ut amet facilisi sit scelerisque. Nunc quam sed erat posuere.</p>
                    </div>
                </a>
            </div>
            
        
            <div class="card py-3 mx-3" style="width: 20rem;">
                <a [routerLink]="['/single_portfolio']">
                    <div>
                        <img src="assets/img_placeholder.png" class="card-img-top h-50" alt="article image">
                        <span class="body2 py-3">Project Name</span>
                        <h5 class="minor2">Lorem ipsum</h5>
                        <p class="body1">Lorem ipsum dolor sit amet consectetur. Vitae ut amet facilisi sit scelerisque. Nunc quam sed erat posuere.</p>
                    </div>
                </a>
            </div>          
        </div>
    </div>
</section>