<div class="custom-bg">
    <div class="container py-5 mt-5">

        <div class="row d-flex justify-content-center">
            
            <div class="col-md-3 px-4">
                <div class="logo">
                    <img src="assets/images/logo-2.png" class="mb-4" alt="Logo" width="90px">
                    <p class="footerbody1" style="line-height: normal;">Lorem ipsum dolor sit amet consectetur. Pharetra et arcu sapien commodo risus. Ut lacinia fermentum tellus imperdiet netus nibh ac suspendisse. Elementum enim lobortis nulla arcu in. Congue bibendum suspendisse aliquam pharetra elit et sit donec. Dis velit.</p>
                </div>
            </div>
            
            
            <div class="col-md-2">
                <h2 class="footerheading1">Links</h2>
                    <ul class="footerbody1">
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Lorem Ipsum Dolor sit</a> </li>
                        <li><a href="#">Lorem</a></li> 
                        <li><a href="#">Lorem Ipsum Dolor sit</a> </li>
                        <li><a href="#">Lorem</a></li> 
                        <li><a href="#">Lorem Ipsum</a></li>
                    </ul>
            </div>
        
            <div class="col-md-2">
                <h2 class="footerheading1">Links</h2>
                    <ul class="footerbody1">
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                    </ul>          
            </div>
        
            <div class="col-md-2">
                <h2 class="footerheading1">Links</h2>
                <ul class="footerbody1">
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Lorem</a> </li>
                    <li><a href="#">Lorem Ipsum Dolor sit</a> </li>
                    <li><a href="#">Lorem</a></li>
                </ul>
            </div>
        
            <div class="col-md-2">
                <h2 class="footerheading1">Get In Touch</h2>
                <ul class="footerbody1">
                    <!-- <li><a href="#">info@example.com</a></li> -->
                    <li><a href="#">(XXX) XXX XXX XXXX</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur. Id in suscipit.</a></li>
                </ul>
                <p class="footerheading1">Social Media</p>
            </div>
        </div>
    
        <div class="divider"></div>
    
        <p class="text-center">© 2023 company Name. All Rights Reserved.</p>
    
    </div>
</div>

