<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card py-1 mx-2" style="width: 20rem; text-align:center">
            <img src="assets/images/person1.webp" class="card-img-top h-50" alt="article image">
              <h5 class="body2 py-3">Managing Director</h5>
              <p class="body1">"Welcome! Our team is committed to delivering excellence in everything we do, from the quality of our services to the relationships we build with our clients. We believe that true success comes from aligning with your goals and providing innovative solutions that make a real impact. Thank you for choosing us as your partner; we look forward to helping you achieve your vision."</p>
          </div>
      
    
      <div class="card py-1 mx-2" style="width: 20rem; text-align:center">
        <img src="assets/images/person2.webp" class="card-img-top h-50" alt="article image">
          <h5 class="body2 py-3">Managing Director</h5>
          <p class="body1">"I pride myself on our dedication to quality, reliability, and customer satisfaction. Our focus is always on delivering results that exceed expectations, backed by a passionate team and cutting-edge expertise. Thank you for considering us for your needs—we’re here to help you succeed, and we’re excited about the journey ahead."</p>
      </div>
    
      <div class="card py-1 mx-2" style="width: 20rem; text-align:center">
        <img src="assets/images/person3.webp" class="card-img-top h-50" alt="article image">
          <h5 class="body2 py-3">Managing Director</h5>
          <p class="body1">"As the Managing Director, I am honored to lead a team that shares a genuine commitment to innovation and service excellence. We understand the trust you place in us, and we work hard every day to provide solutions that create lasting value. Whether you're a new client or a longtime partner, we appreciate your support and look forward to continuing our journey together."</p>
      </div>
    </div>
</div>