<section>
    <div class="container">
        <div class="row page mt-5 px-5">      
            <div class="col-12 col-md-6 m-auto mt-5 d-grid justify-content-center ">
                <img src="/assets/images/getintouch.webp" class="mt-5 w-100 m-auto" alt="" srcset="">
            </div>       
            <div class="col-12 h-100 d-grid justify-content-center col-md-5">
                <div class="m-auto get-in-touch">
                    <h3 class="heading1">Get In Touch With Us!</h3>
                    <p class="body1 mt-3">
                        We’d love to hear from you! Whether you have questions about our services, need assistance with a project, or simply want to explore how we can work together, our team is here to help. Feel free to reach out through any of the contact methods below, and one of our representatives will get back to you promptly. Your inquiries are important to us, and we’re committed to providing the support and information you need. Let’s start a conversation and discover the possibilities together!
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-dark mt-3">Contact us</button>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>                 

<section>
    <div class="container mt-4">
        <div class="row px-5">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <div>
                    <p class="heading1">
                        Enter Your Details
                    </p>
                    <p class="body1">
                        <!-- needhelp@company.com -->
                    </p>
                    <p class="body1">
                        +92 (3300) 98-68
                    </p>
                    <p class="body1">
                        36 Broklyn Golden Street. New York
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 form-1">
                <div class="row mt-5 px-5">
                    <div class="col-12 col-md-6 mb-3 d-flex justify-content-start">
                        <div class="form-floating body1 custom-form-floating">
                            <input type="name" class="form-control" id="floatingPassword1" placeholder="Password">
                            <label for="floatingPassword1">Your Name</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3 d-flex justify-content-end">
                        <div class="form-floating body1 custom-form-floating">
                            <input type="password" class="form-control" id="floatingEmail" placeholder="Password">
                            <label for="floatingPassword2">Email</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3 d-flex justify-content-start">
                        <div class="form-floating body1 custom-form-floating">
                            <input type="password" class="form-control" id="floatingSubject" placeholder="Password">
                            <label for="floatingPassword3">Subject</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3 d-flex justify-content-end">
                        <div class="form-floating body1 custom-form-floating">
                            <input type="password" class="form-control" id="floatingPhone" placeholder="Password">
                            <label for="floatingPassword4">Phone</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <div class="form-floating w-100 body1 custom-form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
                            <label for="floatingTextarea2">Write a message</label>
                          </div>
                    </div>
                    <div class=" text-center mb-3 justify-content-start">
                        <button class="btn btn-dark mt-3">Submit</button>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <img src="/assets/map.png" alt="" class="w-100 mb-5">
    </div>
</section>