<div class="container-fluid my-auto slider">
    <div class="row py-5">
        <div class="col-4 col-md-1 mx-auto py-4 py-md-2"><img src="/assets/images/logo-2.png" class="w-100 m-auto" alt="" srcset=""></div>
        <div class="col-4 col-md-1 mx-auto py-4 py-md-2"><img src="/assets/images/logo-2.png" class="w-100 m-auto" alt="" srcset=""></div>
        <div class="col-4 col-md-1 mx-auto py-4 py-md-2"><img src="/assets/images/logo-2.png" class="w-100 m-auto" alt="" srcset=""></div>
        <div class="col-4 col-md-1 mx-auto py-4 py-md-2"><img src="/assets/images/logo-2.png" class="w-100 m-auto" alt="" srcset=""></div>
        <div class="col-4 col-md-1 mx-auto py-4 py-md-2"><img src="/assets/images/logo-2.png" class="w-100 m-auto" alt="" srcset=""></div>
        <div class="col-4 col-md-1 mx-auto py-4 py-md-2"><img src="/assets/images/logo-2.png" class="w-100 m-auto" alt="" srcset=""></div>
    </div>
</div>