<div class="w-100 px-3 d-flex py-3 primary_background ">

  <mat-icon class="top_bar col-1" (click)="drawer.toggle()">menu</mat-icon>

  <div class="col-11 col-md-10 text-center">
    @if(user!=null){
    <p class="px20_text light_text_color m-0 one-line">{{user.location_name}}</p>
    }


  </div>

  <div class="col-1 d-none d-md-block"></div>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="side" mode="over" opened="true">
    <div class="h-100 d-grid " style="align-content: space-between;">
      <div class="px-3 ">
        <div class="mt-0 px-3 px-2">
          <app-nav-parent (toggle)="drawer.toggle()"></app-nav-parent>
        </div>

      </div>
      <div class="p-3  logout text-center">
        <div class=" d-flex clickable  p-3" (click)="logout()" >
          <mat-icon class="me-2">logout</mat-icon>
          <p>Logout</p>
        </div>
        <a href="https://ambrumsolutions.com/" target="_blank"> Powered By <b class="company-name-text  logout">Ambrum
            Solutions</b></a>

        <div class="app-version">App Version 1.4</div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <section class="w-100 mx-auto pt-3 px-md-5 " style="background-color: white;min-height: 100%;">
 
      <router-outlet></router-outlet>
    </section>

  </mat-drawer-content>
</mat-drawer-container>