<div class="container py-5">
    <div class="row justify-content-center">
        <div class="card py01 mx-2" style="width: 20rem">
            <img src="assets/images/garretwilson-1.webp" class="card-img-top" alt="article image ">
            <span class="minor2 py-3">Garrett Wilson makes eye-popping TD catch, Jets beat Texans 21-13 to snap 5-game skid</span>
            <p class="body3">Wilson made a dazzling 26-yard go-ahead touchdown catch early in the fourth quarter and the New York
                Jets snapped a five-game losing streak by beating the Houston Texans 21-13 on Thursday night.
                “I just kind of lobbed one up there and he made an unbelievable catch,” quarterback Aaron Rodgers said. “That was a
                huge play. ... That’s a game-changing play.”
                Rodgers had three touchdown passes, including another earlier one-handed score by Wilson and a 37-yard throw to
                recently acquired Davante Adams, and the Jets (3-6) won for the first time in four games under interim head coach
                Jeff Ulbrich.
            </p>
            <p class="body1">With the Jets trailing 10-7 and facing third-and-19 from the Texans 26, Rodgers tossed the ball up toward Wilson in the end zone. The star wide receiver jumped and reached up with his right hand with both legs spread in in the air — looking like the Michael Jordan “Jumpman” logo.</p>
        </div>
        

        <div class="card py-1 mx-2" style="width: 20rem;">
                <img src="assets/images/odegaard-1.webp" class="card-img-top" alt="article image ">
                <span class="minor2 py-3">Arsenal captain Odegaard in final stages of recovery from injury after 2 months out
                </span>
                <h5 class="body3">Arteta said Odegaard wouldn’t play against Newcastle in the Premier League on Saturday but didn’t rule the midfielder out of the trip to Inter Milan in the Champions League on Wednesday.

                    “Now is the stage where he is going to do certain work with us. Let’s see how he deals with pain and if his movement is natural enough,” Arteta said.</h5>
                <p class="body1">Odegaard was injured playing for Norway in a Nations League group-stage match on Sept. 9 and Arsenal has missed his creativity and leadership. After collecting just one point from its last two games, Arsenal is in third place, five points behind leader Manchester City.</p>
        </div>
        <div class="card py-1 mx-2" style="width: 20rem;">
            <img src="assets/images/morant-1.webp" class="card-img-top" alt="article image ">
            <span class="minor2 py-3">Morant’s triple-double helps Grizzlies build big lead and coast to 122-99 victory over Bucks.</span>
            <h5 class="body3">MEMPHIS, Tenn. (AP) — Ja Morant had 26 points, 14 assists and 10 rebounds and helped the Memphis Grizzlies build a 31-point second-half cushion and beat the Milwaukee Bucks 122-99 on Thursday night.</h5>
            <p class="body1">LSanti Aldama added 19 points and nine rebounds, while Scotty Pippen Jr. and Jaylen Wells finished with 16 points each as the Grizzlies snapped a two-game skid. Memphis ended the night shooting 52%, including Morant going 9 for 16. Seven Grizzlies players finished in double figures.</p>
        </div>
    </div>
</div>